@import url("https://use.typekit.net/okr6ijp.css");
@font-face {
  font-family: "Antro";
  src: url(./fonts/Antro_Vectra.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  cursor: none;
}

body {
  background-color: #FFF5EB;
  color: #0E5E6F;
  font-family: josefin-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: none;
}

a {
  cursor: none;
}

#global-container {
  width: 100vw;
  overflow: hidden;
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0E5E6F;
  mix-blend-mode: difference;
  z-index: 1000;
  transition: 0.1s ease-out;
  transform: translate(0, 0);
  pointer-events: none;
  -webkit-animation: 8s infinite light ease;
          animation: 8s infinite light ease;
}
@-webkit-keyframes light {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}
@keyframes light {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}
#cursor.cursor--hover {
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(205, 114, 113, 0.5);
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.wrapper {
  width: 100vw;
}

section {
  margin-top: 10vh;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 10vh;
  font-size: 2rem;
}
header a {
  text-decoration: none;
  color: #0E5E6F;
}
header a.active {
  color: #F19E8D;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 30px 0 30px 30px;
  list-style: none;
  display: flex;
}

/* Home */
#home {
  position: relative;
  text-align: center;
  margin-bottom: 20%;
}
#home #home__imageWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 21/9;
  overflow: hidden;
}
#home #home__imageWrap .home__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  filter: sepia(0) grayscale(0);
  transition: 0.8s ease;
}
#home #home__imageWrap .home__image:hover {
  translate: 0.5s ease;
  filter: sepia(40%) grayscale(50%);
}
#home #home__imageWrap .home__image.show {
  opacity: 1;
  transition: 0.8s ease;
}

#logo {
  position: absolute;
  bottom: -10%;
  left: 1%;
}
#logo #logo__text {
  position: relative;
  mix-blend-mode: exclusion;
}
#logo #logo__text p:nth-child(1) {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
}
#logo #logo__text p:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  display: inline-block;
  font-family: "Antro";
  font-size: 6rem;
  white-space: nowrap;
  transform: rotate(-20deg);
  transform-origin: center center;
}

/* Works */
#works {
  position: relative;
  margin: 48vh 0;
}
#works #worksFilter {
  position: fixed;
  top: 20vh;
  left: 10vw;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  height: 400px;
  width: 100px;
}
#works #worksFilter li {
  list-style: none;
  background-color: #000;
  padding-right: 10px;
  line-height: 1.1;
}
#works #works__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 0;
  position: relative;
}
#works #works__wrap .works__decoration {
  position: absolute;
  z-index: 0;
  filter: sepia(20%);
}
#works #works__wrap .works__decoration:nth-child(1) {
  position: absolute;
  top: -500px;
  right: -100px;
  z-index: 0;
  -webkit-animation: infinite 100s rotate;
          animation: infinite 100s rotate;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#works #works__wrap .works__decoration:nth-child(2) {
  position: absolute;
  bottom: -500px;
  left: -400px;
  z-index: 0;
  transform: scale(-1, -1);
  -webkit-animation: infinite 100s rotate;
          animation: infinite 100s rotate;
}
#works #works__wrap .works__inner {
  position: relative;
  color: white;
  text-align: center;
}
#works #works__wrap .works__inner img {
  width: 800px;
  background-color: #000;
  filter: sepia(40%) grayscale(50%);
}
#works #works__wrap .works__inner .works__link {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  height: 100%;
}
#works #works__wrap .works__inner .mask img {
  filter: sepia(0) grayscale(0%);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.mask.show {
  opacity: 1;
  transition: 0.5s ease;
}
.mask .mask-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  mix-blend-mode: overlay;
  opacity: 20%;
  transition: 0.5s ease;
}
.mask .mask-textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: exclusion;
  line-height: 1;
  text-align: left;
}
.mask .mask-textbox .works__mask-ttl {
  font-size: 2.5rem;
}
.mask .mask-textbox .works__mask-txt {
  font-size: 1.5rem;
  margin-top: 10px;
}
.mask .mask-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  height: 80%;
  width: 100%;
  border-top: dashed 1px #FFF5EB;
  border-bottom: dashed 1px #FFF5EB;
  transition: 0.5s ease;
}

/* worksDetail */
#worksDetail {
  text-align: center;
  width: 90vw;
  margin: 10vh auto;
}
#worksDetail #worksDetail__contentWrap #worksDetail__movieWrap {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}
#worksDetail #worksDetail__contentWrap #worksDetail__image {
  background-color: #000;
}
#worksDetail #worksDetail__contentWrap #worksDetail__image.vertically_long {
  width: 500px;
}
#worksDetail #worksDetail__contentWrap #worksDetail__image.horizontally_long {
  width: 90vw;
}
#worksDetail #worksDetail__contentWrap #worksDetail__webLink {
  transition: 0.5s ease;
}
#worksDetail #worksDetail__contentWrap #worksDetail__webLink #worksDetail__image {
  width: 90vw;
  box-sizing: border-box;
}
#worksDetail #worksDetail__contentWrap #worksDetail__webLink:hover #worksDetail__image {
  border: #0E5E6F solid 5px;
  transition: 0.5s ease;
}
#worksDetail #worksDetail__title {
  margin-top: 80px;
  font-weight: 300;
}
#worksDetail #worksDetail__sentence {
  width: 90%;
  margin: 60px auto 30px;
}
#worksDetail #worksDetail__sentence.ja {
  font-size: 1.5rem;
  line-height: 2em;
  letter-spacing: 0.2em;
  word-break: break-all;
  text-align: justify;
}
#worksDetail #worksDetail__sentence.en {
  font-size: 1.6rem;
  line-height: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 80px;
}
#worksDetail #worksDetail__link {
  padding: 2px;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #0E5E6F;
  border: 1px solid #0E5E6F;
  line-height: 1.1;
  transition: 0.5s ease;
}
#worksDetail #worksDetail__link:hover {
  background-color: #000;
  transition: 0.5s ease;
}

/* Photos */
#photos__wrap {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#photos__wrap .photos__inner {
  position: relative;
  margin: 100px 40px;
  padding: 0;
}
#photos__wrap .photos__inner .mask {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  filter: sepia(50%);
}
#photos__wrap .photos__inner .mask:hover {
  opacity: 1;
  transition: 0.5s ease;
}
#photos__wrap .photos__inner .mask .mask-textbox {
  color: white;
}
#photos__wrap .photos__inner .mask .mask-border {
  opacity: 0.6;
}
#photos__wrap .photos__img {
  width: 300px;
}

/* PhotosDetail */
#photosDetail {
  text-align: center;
}
#photosDetail #photosDetail__slider {
  width: 100%;
  position: relative;
}
#photosDetail #photosDetail__slider .triangle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 34.6px solid #8BA6B1;
  border-left: 20px solid transparent;
  opacity: 0.6;
  transition: 0.5 ease;
}
#photosDetail #photosDetail__slider .triangle:hover {
  opacity: 0.8;
  transition: 0.5 ease;
}
#photosDetail #photosDetail__slider .triangle:nth-child(1) {
  left: 4vw;
  transform: rotate(-90deg);
}
#photosDetail #photosDetail__slider .triangle:nth-child(2) {
  right: 4vw;
  transform: rotate(90deg);
}
#photosDetail #photosDetail__slider #photosDetail__imageWrap {
  height: auto;
  width: 80vw;
  max-width: 1000px;
  aspect-ratio: 3/2;
  margin: 0 auto;
  background-color: #000;
}
#photosDetail #photosDetail__slider #photosDetail__imageWrap #photosDetail__image {
  height: 100%;
  filter: sepia(0) grayscale(0);
  transition: 0.5s ease;
}
#photosDetail #photosDetail__slider #photosDetail__imageWrap #photosDetail__image:hover {
  translate: 0.5s ease;
  filter: sepia(40%) grayscale(50%);
}
#photosDetail #photosDetail__title {
  font-size: 2rem;
  margin-top: 3vh;
  font-weight: 100;
}
#photosDetail #photosDetail__sentence {
  display: inline-block;
  font-size: 2rem;
  margin: 60px 20vw 30px;
  font-size: 1.5rem;
  line-height: 2em;
  letter-spacing: 0.2em;
  text-align: left;
}
#photosDetail #photosDetail__link {
  margin: 70px;
  padding: 2px;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #0E5E6F;
  border: 1px solid #0E5E6F;
  line-height: 1.1;
  transition: 0.5s ease;
}
#photosDetail #photosDetail__link:hover {
  background-color: #000;
  transition: 0.5s ease;
}

/* About */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 300px;
  filter: sepia(0);
  transition: 0.8s ease;
}
#about img:hover {
  translate: 0.5s ease;
  filter: sepia(20%);
}
#about p {
  font-size: 1.6rem;
  width: 400px;
  margin-left: 100px;
  word-break: break-all;
  text-align: justify;
}
#about span {
  font-size: 1.4rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  #home {
    position: relative;
    text-align: center;
    margin-bottom: 20vh;
  }
  #home #home__imageWrap {
    height: 70vh;
  }
  #home #home__imageWrap .home__image {
    width: auto;
    height: 100%;
  }
  #home #footer {
    position: absolute;
    bottom: -20vh;
    left: 0;
  }
  #works {
    margin: 30vh 0;
  }
  #works #worksFilter {
    top: 20vh;
    left: 2vw;
    height: 400px;
    width: 100px;
  }
  #works #works__wrap .works__decoration {
    width: 70vw;
  }
  #works #works__wrap .works__decoration:nth-child(1) {
    top: -300px;
    right: -100px;
  }
  #works #works__wrap .works__decoration:nth-child(2) {
    bottom: -400px;
    left: -100px;
  }
  #works #works__wrap .works__inner img {
    width: 80vw;
  }
  #worksDetail #worksDetail__contentWrap #worksDetail__image.vertically_long {
    width: 80vw;
  }
  /* PhotosDetail */
  #photosDetail {
    text-align: center;
  }
  #photosDetail #photosDetail__slider .triangle {
    border-right: 2vw solid transparent;
    border-bottom: 3.46vw solid #8BA6B1;
    border-left: 2vw solid transparent;
  }
  #photosDetail #photosDetail__slider .triangle:nth-child(1) {
    left: 2vw;
  }
  #photosDetail #photosDetail__slider .triangle:nth-child(2) {
    right: 2vw;
  }
  /* About */
  #about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  #about img {
    width: 40vw;
    filter: sepia(0);
    transition: 0.8s ease;
  }
  #about img:hover {
    translate: 0.5s ease;
    filter: sepia(20%);
  }
  #about p {
    font-size: 2rem;
    width: 80vw;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 0;
    word-break: break-all;
    text-align: justify;
  }
  #about span {
    display: inline-block;
    margin-top: 40px;
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=App.css.map */