@import url("https://use.typekit.net/okr6ijp.css");

@font-face {
    font-family: "Antro Vectra";
    src: url("./fonts/Antro_Vectra.otf") format("otf"),
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFF5E7;
    color: #0E5E6F;
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.wrapper {
    width: 100vw;
}

section {
    margin-top: 10vh;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    width: 85%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 30px 0 30px 30px;
    list-style: none;
    display: flex;
}

header a {
    text-decoration: none;
    color: #0E5E6F;
}

header a:hover {}


.active {
    color: #000;
}

/* Home */

#home {
    position: relative;
    text-align: center;
}

#logo {
    position: absolute;
    bottom: -5%;
    left: 1%;
}

#logo-content {
    position: relative;
    mix-blend-mode: exclusion;
}

#logo p:nth-child(1) {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
}

#logo p:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    font-family: "Antro Vectra";
    font-size: 6rem;
    transform: rotate(-20deg);
    transform-origin: center center;
    white-space: nowrap;
}

.fv-img {
    width: 100%;
}

/* Works */

#works {
    position: relative;
}

#worksFilter {
    z-index: 3;
    position: fixed;
    top: 10vh;
    left: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    height: 400px;
    width: 100px;
}

#worksFilter li {
    list-style: none;
    background-color: #000;
    padding: 0 10px;
    cursor: pointer;
}


#works-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

.Works-content {
    color: white;
    position: relative;
    width: 130%;
    text-align: center;
    transition: 0.2s;
    cursor: none;
}

.Works-content:hover {
    transition: 0.2s;
    /* padding-left: 200px; */
    transform: translate(100px,0);
}


.Works-content img {
    width: 800px;
    background-color: #000;
}

.Works-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#worksDetail {
    text-align: center;
}

.worksDetailImage {}