@import url("https://use.typekit.net/okr6ijp.css");
@font-face {
  font-family: "Antro";
  src: url(./fonts/Antro_Vectra.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFF5EB;
  color: #0E5E6F;
  font-family: josefin-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#global-container {
  width: 100vw;
}

.wrapper {
  width: 100vw;
}

section {
  margin-top: 10vh;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 10vh;
  font-size: 2rem;
}
header a {
  text-decoration: none;
  color: #0E5E6F;
}
header a.active {
  color: #000;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 30px 0 30px 30px;
  list-style: none;
  display: flex;
}

/* Home */
#home {
  position: relative;
  text-align: center;
}
#home .home__image {
  width: 100%;
  opacity: 1;
}

#logo {
  position: absolute;
  bottom: -5%;
  left: 1%;
}
#logo #logo__text {
  position: relative;
  mix-blend-mode: exclusion;
}
#logo #logo__text p:nth-child(1) {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
}
#logo #logo__text p:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  display: inline-block;
  font-family: "Antro";
  font-size: 6rem;
  white-space: nowrap;
  transform: rotate(-20deg);
  transform-origin: center center;
}

/* Works */
#works {
  position: relative;
  overflow: hidden;
  margin: 50vh 0;
}
#works #works__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 0;
}
#works #works__wrap .works__inner {
  position: relative;
  color: white;
  text-align: center;
  transition: 0.5s;
}
#works #works__wrap .works__inner img {
  width: 800px;
  background-color: #000;
}
#works #works__wrap .works__inner .works__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
#works #works__wrap .works__inner .works__mask.show {
  opacity: 1;
  transition: 0.5s;
}
#works #works__wrap .works__inner .works__mask .works__mask-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  mix-blend-mode: overlay;
  transition: 0.5s;
}
#works #works__wrap .works__inner .works__mask .works__mask-textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: exclusion;
  line-height: 1;
  text-align: left;
}
#works #works__wrap .works__inner .works__mask .works__mask-textbox .works__mask-ttl {
  font-size: 2.5rem;
}
#works #works__wrap .works__inner .works__mask .works__mask-textbox .works__mask-txt {
  font-size: 1.5rem;
  margin-top: 10px;
}
#works #works__wrap .works__inner .works__mask .works__mask-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  height: 80%;
  width: 100%;
  border: dashed 1px #FFF5EB;
  transition: 0.5s;
}

/* worksFilter */
#worksFilter {
  position: fixed;
  top: 20vh;
  left: 10vw;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  height: 400px;
  width: 100px;
}

#worksFilter li {
  list-style: none;
  background-color: #000;
  padding-right: 10px;
  cursor: pointer;
  line-height: 1.1;
}

/* worksDetail */
#worksDetail {
  text-align: center;
}

/* About */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 300px;
}

#about p {
  font-size: 1.6rem;
  width: 400px;
  margin-left: 100px;
  word-break: break-all;
  text-align: justify;
}

#about span {
  font-size: 1.4rem;
}/*# sourceMappingURL=App.css.map */