@import url("https://use.typekit.net/okr6ijp.css");

@font-face {
    font-family: "Antro";
    src: url(./fonts/Antro_Vectra.otf) format("opentype");
}

$baseColor: #FFF5EB;
$mainColor: #0E5E6F;
$subColor: #000;
$complementaryColor: #F19E8D;


* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

html {
    font-size: 62.5%;
    cursor: none;
}

body {
    background-color: $baseColor;
    color: $mainColor;
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: none;
}

a {
    cursor: none;
}


#global-container {
    width: 100vw;
    overflow: hidden;
}


#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $mainColor;
    mix-blend-mode: difference;
    z-index: 1000;
    pointer-events: none;
    animation: 8s infinite light ease;

    @keyframes light {
        0% {
            opacity: 50%;
        }

        50% {
            opacity: 100%;
        }

        100% {
            opacity: 50%;
        }
    }

}

.wrapper {
    width: 100vw;
}

section {
    margin-top: 10vh;
}

@mixin absolute() {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 10vh;
    font-size: 2rem;

    a {
        text-decoration: none;
        color: $mainColor;
    }

    a.active {
        color: $complementaryColor;
    }

    nav ul {
        display: flex;

        li {
            margin: 30px 0 30px 30px;
            list-style: none;
            display: flex;

        }
    }


}

/* Home */

#home {
    position: relative;
    text-align: center;
    margin-bottom: 20%;

    #home__imageWrap {
        position: relative;
        width: 100%;
        aspect-ratio: 21/9;
        overflow: hidden;

        .home__image {
            @include absoluteCenter();
            width: 100%;
            opacity: 0;
            filter: sepia(0) grayscale(0);
            transition: 0.8s ease;

            &:hover {
                translate: 0.5s ease;
                filter: sepia(40%) grayscale(50%);
            }

            &.show {
                opacity: 1;
                transition: 0.8s ease;
            }
        }
    }
}


#logo {
    position: absolute;
    bottom: -10%;
    left: 1%;

    #logo__text {
        position: relative;
        mix-blend-mode: exclusion;

        p:nth-child(1) {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 10rem;
        }

        p:nth-child(2) {
            @include absolute();
            top: 50%;
            display: inline-block;
            font-family: "Antro";
            font-size: 6rem;
            white-space: nowrap;
            transform: rotate(-20deg);
            transform-origin: center center;
        }
    }
}

/* Works */

#works {
    position: relative;
    margin: 35vh 0;

    #worksFilter {
        position: fixed;
        top: 20vh;
        left: 10vw;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 3rem;
        height: 400px;
        width: 100px;

        li {
            list-style: none;
            background-color: $subColor;
            padding-right: 10px;
            line-height: 1.1;
            position: relative;

            span {
                @include absolute();
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: $mainColor;
                z-index: -1;
            }
        }
    }

    #works__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100;
        line-height: 0;
        position: relative;

        .works__decoration {
            position: absolute;
            z-index: 0;
            filter: sepia(20%);
        }

        .works__decoration:nth-child(1) {
            position: absolute;
            top: -500px;
            right: -100px;
            z-index: 0;
            animation: infinite 100s rotate;
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        .works__decoration:nth-child(2) {
            position: absolute;
            bottom: -500px;
            left: -400px;
            z-index: 0;
            transform: scale(-1, -1);
            animation: infinite 100s rotate;
        }

        .works__inner {
            position: relative;
            color: white;
            text-align: center;

            img {
                width: 800px;
                background-color: $subColor;
                filter: sepia(40%) grayscale(50%);
            }

            .works__link {
                display: none;
                @include absoluteCenter();
                z-index: 3;
                width: 100%;
                height: 100%;
            }

            .mask {
                img {
                    filter: sepia(0) grayscale(0%);
                }
            }
        }
    }
}

.mask {
    @include absolute();
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;

    &.show {
        opacity: 1;
        transition: 0.5s ease;
    }

    .mask-overlay {
        @include absolute();
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $subColor;
        mix-blend-mode: overlay;
        opacity: 20%;
        transition: 0.5s ease;
    }

    .mask-textbox {
        @include absoluteCenter();
        z-index: 2;
        mix-blend-mode: exclusion;
        line-height: 1;
        text-align: left;

        .works__mask-ttl {
            font-size: 2.5rem;
        }

        .works__mask-txt {
            font-size: 1.5rem;
            margin-top: 10px;
        }
    }

    .mask-border {
        @include absoluteCenter();
        z-index: 3;
        height: 80%;
        width: 100%;
        border-top: dashed 1px $baseColor;
        border-bottom: dashed 1px $baseColor;
        transition: 0.5s ease;
    }
}

/* worksDetail */

#worksDetail {
    text-align: center;
    width: 90vw;
    margin: 10vh auto;

    #worksDetail__contentWrap {
        background-color: $subColor;

        #worksDetail__movieWrap {
            width: 100%;
            aspect-ratio: 16/9;
            margin: 0 auto;
            // position: relative;
            // video{
            //     @include absoluteCenter()
            // }
        }

        #worksDetail__image {
            &.vertically_long {
                width: 500px;
            }

            &.horizontally_long {
                width: 90vw;
            }

            background-color: #000;
        }

        #worksDetail__webWrap {
            position: relative;

            #worksDetail__webLink {
                text-decoration: none;
                color: $mainColor;
                font-size: 2.4rem;

                &:hover #worksDetail__image {
                    filter: sepia(100%);
                }

                #worksDetail__image {
                    filter: sepia(0);
                    transition: 0.5s ease;
                }

                &:hover #worksDetail__webFilter {
                    opacity: 1;
                }

                #worksDetail__webFilter {
                    opacity: 0;
                    @include absoluteCenter();
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    transition: 0.5s ease;
                    p{
                        @include absoluteCenter();
                        mix-blend-mode: exclusion;
                    }
                }

            }

        }

    }

    #worksDetail__title {
        margin-top: 80px;
        font-weight: 300;
    }

    #worksDetail__sentence {
        width: 90%;
        margin: 60px auto 30px;
        &.ja {
            font-size: 1.5rem;
            line-height: 2em;
            letter-spacing: 0.2em;
            word-break: break-all;
            text-align: justify;
        }

        &.en {
            font-size: 1.6rem;
            line-height: 2em;
            letter-spacing: 0.1em;
            text-align: center;
            margin-bottom: 80px;
        }
        a{
            color: $mainColor;
            // text-decoration: none;
        }
    }


    #worksDetail__link {
        padding: 2px;
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        color: $mainColor;
        border: 1px solid $mainColor;
        line-height: 1.1;
        transition: 0.5s ease;
    }


    #worksDetail__link:hover {
        background-color: $subColor;
        transition: 0.5s ease;
    }
}

/* Photos */

// #photos__loading{
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1000;
//     width: 100vw;
//     height: 100vh;
//     background-color: $subColor;
//     p{
//         font-size: 6rem;
//         color: $mainColor;
//         @include absoluteCenter();
//     }
// }


#photos__wrap {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .photos__inner {
        position: relative;
        margin: 100px 40px;
        padding: 0;

        .mask {
            font-size: 1.5rem;
            font-weight: 100;
            letter-spacing: 0.1em;
            filter: sepia(50%);

            &:hover {
                opacity: 1;
                transition: 0.5s ease;
            }

            .mask-textbox {
                color: white;
            }

            .mask-border {
                opacity: 0.6;
            }
        }
    }

    .photos__img {
        width: 300px;
    }
}

/* PhotosDetail */
#photosDetail {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    #photosDetail__slider {
        width: 100%;
        position: relative;


        .triangle {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 100;
            width: 0;
            height: 0;
            $size : 20px;
            border-right: $size solid transparent;
            border-bottom: 1.73*$size solid #8BA6B1;
            border-left: $size solid transparent;
            opacity: 0.6;
            transition: 0.5 ease;

            &:hover {
                opacity: 0.8;
                transition: 0.5 ease;
            }
        }

        .triangle:nth-child(1) {
            left: 4vw;
            transform: rotate(-90deg);
        }

        .triangle:nth-child(2) {
            right: 4vw;
            transform: rotate(90deg);
        }

        #photosDetail__imageWrap {
            height: auto;
            width: 80vw;
            max-width: 1000px;
            aspect-ratio: 3/2;
            margin: 0 auto;
            background-color: $subColor;

            #photosDetail__image {
                height: 100%;
                filter: sepia(0) grayscale(0);
                transition: 0.5s ease;

                &:hover {
                    translate: 0.5s ease;
                    filter: sepia(40%) grayscale(50%);
                }
            }
        }
    }

    #photosDetail__title {
        font-size: 2rem;
        margin-top: 3vh;
        font-weight: 100;

    }

    #photosDetail__sentence {
        display: inline-block;
        font-size: 2rem;
        margin: 60px 20vw 30px;
        font-size: 1.5rem;
        line-height: 2em;
        letter-spacing: 0.2em;
        text-align: left;
    }

    #photosDetail__link {
        margin: 70px;
        padding: 2px;
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        color: $mainColor;
        border: 1px solid $mainColor;
        line-height: 1.1;
        transition: 0.5s ease;
    }


    #photosDetail__link:hover {
        background-color: $subColor;
        transition: 0.5s ease;
    }
}

/* About */
#about {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
        filter: sepia(0);
        transition: 0.8s ease;

        &:hover {
            translate: 0.5s ease;
            filter: sepia(20%);
        }
    }

    p {
        font-size: 1.6rem;
        width: 400px;
        margin-left: 100px;
        word-break: break-all;
        text-align: justify;
    }

    span {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    #home {
        position: relative;
        text-align: center;
        margin-bottom: 20vh;

        #home__imageWrap {
            height: 70vh;

            .home__image {
                width: auto;
                height: 100%;
            }
        }

        #footer {
            position: absolute;
            bottom: -20vh;
            left: 0;
        }
    }

    #works {
        margin: 35vh 0;

        #worksFilter {
            top: 20vh;
            left: 2vw;
            height: 400px;
            width: 100px;
        }

        #works__wrap {
            .works__decoration {
                width: 70vw;
            }

            .works__decoration:nth-child(1) {
                top: -300px;
                right: -100px;
            }

            .works__decoration:nth-child(2) {
                bottom: -400px;
                left: -100px;
                ;
            }

            .works__inner {

                img {
                    width: 80vw;
                }
            }
        }
    }

    #worksDetail {

        #worksDetail__contentWrap {

            #worksDetail__image {
                &.vertically_long {
                    width: 80vw;
                }
            }
        }
    }

    /* PhotosDetail */
    #photosDetail {
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        #photosDetail__slider {
            .triangle {
                $size : 2vw;
                border-right: $size solid transparent;
                border-bottom: 1.73*$size solid #8BA6B1;
                border-left: $size solid transparent;
            }

            .triangle:nth-child(1) {
                left: 2vw;
            }

            .triangle:nth-child(2) {
                right: 2vw;
            }
        }
    }

    /* About */
    #about {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        img {
            width: 40vw;
            filter: sepia(0);
            transition: 0.8s ease;

            &:hover {
                translate: 0.5s ease;
                filter: sepia(20%);
            }
        }

        p {
            font-size: 2rem;
            width: 80vw;
            margin-top: 30px;
            margin-bottom: 100px;
            margin-left: 0;
            word-break: break-all;
            text-align: justify;
        }

        span {
            display: inline-block;
            margin-top: 40px;
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width: 420px ){
    html, body{
        cursor: auto;
    }
    a, .link{
        cursor: pointer;
    }

    #cursor{
        display: none;
    }
}